body {
  display: flex;
  flex-direction: column; }

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%; }

.slider {
  display: flex;
  align-items: center;
  top: 7%;
  width: 30%;
  height: 30%; }

.itemMuestra {
  height: 60%;
  width: 60%; }

.navbar {
  width: 100%; }

.collapse {
  justify-content: right; }

a {
  color: white;
  list-style: none;
  text-decoration: none; }

.pedido {
  color: white;
  list-style: none;
  text-decoration: none; }

ul {
  list-style: none;
  font-size: 0; }

li {
  display: inline-block;
  font-size: 14px;
  list-style: none;
  text-align: inline;
  text-decoration: none; }

li a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 10px;
  margin-right: 50px;
  color: black; }

li a:visited {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 0px;
  margin-right: 50px;
  color: white; }

ul ul {
  position: absolute;
  display: none; }

ul ul li {
  display: block; }

ul li:hover ul {
  display: block;
  padding-right: 15%;
  background-color: #a70808; }

.sublista {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white; }

.sublista:visited {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 10px;
  margin-right: 50px;
  color: white; }

footer {
  background-image: linear-gradient(to left, crimson, black);
  width: 100%; }

p {
  height: 30%;
  width: 100%;
  text-align: left;
  padding-left: 5%;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font: size 0.9em; }

h1 {
  color: black;
  text-align: center;
  font-size: xx-large;
  font-family: "Allerta Stencil"; }

.h2 {
  color: white;
  text-align: center;
  font-size: xx-large;
  font-family: 'Lobster', cursive; }

.detallesCarosuel {
  color: white;
  text-align: center;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

h5 {
  color: black;
  text-align: center;
  font-size: medium;
  font-family: "Allerta Stencil"; }

.display-4 {
  padding-top: 10%; }

h4 {
  color: white;
  text-align: center;
  font-size: xx-large, sans-serif;
  font-family: "Verdana"; }

.display-5 {
  color: white;
  text-align: center; }

.d-block {
  height: 100%;
  width: 100%; }

#label {
  color: white; }

#tituloseccion2 {
  width: 100%;
  height: 5%;
  text-align: left;
  padding-left: 5%;
  padding-top: 10%;
  color: black; }

#tituloconsulta {
  color: white;
  padding-top: 6%; }

#scroll {
  position: relative;
  top: 30%; }

.btnFormulario {
  color: white;
  background-color: crimson;
  border-color: crimson;
  width: 10%;
  height: 100%;
  font-size: medium;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.btnFormulario:hover {
  animation: heartBeat;
  animation-duration: 3s; }

.enviar {
  color: white;
  background-color: crimson;
  border-color: crimson;
  width: 6%;
  height: 4;
  font-size: medium;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.hacerPedido {
  color: white;
  background-color: crimson;
  border-color: crimson;
  width: 10%;
  height: 5%;
  font-size: medium;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.hacerPedido:hover {
  animation: heartBeat;
  animation-duration: 5s; }

.verProductos {
  color: white;
  background-color: crimson;
  border-color: crimson;
  width: 15%;
  height: 5%;
  font-size: medium;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.verProductos:hover {
  animation: heartBeat;
  animation-duration: 5s; }

.seccion, .inicio, .estampasRemeras, .infoPago, .detallesProductos {
  width: 100%;
  height: 600px; }

.misproductos {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/astronautainsiders.png");
  background-size: cover; }

video {
  width: 90%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: -10; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#tabla {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  border-color: black;
  border-left: solid 10px;
  border-right: solid 10px; }

#datos-nombre {
  text-align: center;
  width: 74%;
  margin-left: auto;
  margin-right: auto; }

#datos-localidad {
  text-align: center;
  width: 76%;
  margin-left: auto;
  margin-right: auto; }

#datos-numero {
  width: 74%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

#label {
  display: inline-flex;
  color: white; }

#label-numero {
  color: white;
  display: inline-flex; }

#label-localidad {
  display: inline-flex;
  color: white; }

#label-nombre {
  display: inline-flex;
  color: white; }

.form-completar {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 30%;
  height: 70%; }

.botones {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%; }

.btnFormulario {
  color: white;
  background-color: crimson;
  border-color: crimson;
  width: 10%;
  height: 70%;
  font-size: medium;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

textarea {
  height: 50%;
  width: 75%; }

.inicio {
  background-image: url("../../images/fondoPortadaInicio.png");
  background-size: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.titulo1 {
  color: black;
  text-align: center;
  font-family: "Allerta Stencil", sans-serif;
  padding-top: 15%; }

.titulo2 {
  color: black;
  text-align: center;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.btn {
  width: 20%;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.btn:hover {
  animation: heartBeat;
  animation-duration: 5s; }

.bienvenida {
  background-image: url("../../images/bienvenidosnosotros.png");
  background-size: 100%;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  border-color: black;
  border-left: solid 10px; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.bienvenida_P {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large; }

.col {
  background-color: #0a0a0a;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.row {
  width: 60%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

p {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large; }

.letraEstampas {
  color: white;
  text-align: center;
  font-size: xx-large;
  font-family: 'Lobster', cursive; }

.muestraRemera {
  width: 60%;
  height: 40%; }

.img-fluid {
  width: 50%;
  height: 50%; }

.estampasRemeras {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/paredinsiders.png");
  background-size: 100%; }

.estampas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%; }

.slide {
  width: 60%; }

.infoPago {
  background-color: #00aff0;
  background-size: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.infoMercadopago {
  background-color: #fff;
  width: 70%;
  height: 40%;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.productosVenta {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  flex-wrap: wrap;
  gap: 1 rem;
  width: 95%;
  text-align: center;
  margin: 25PX; }
  .productosVenta__p {
    color: white;
    text-align: left;
    width: 40%; }
  .productosVenta__tituloproductos {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .productosVenta__precio {
    color: #c50a0a;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

.producto {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5 em;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.productoMuestra {
  height: 80%;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.productoMuestra:hover {
  transform: scale(1.5, 1.5);
  z-index: 100; }

.botonProducto {
  color: white;
  background-color: crimson;
  border-color: crimson;
  width: 50%;
  height: 15%;
  font-size: medium;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.botonProducto:hover {
  animation: heartBeat;
  animation-duration: 3s; }

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-image: url("../../images/contacto.png");
  background-size: 100%;
  height: 600px; }
  .contacto__titulo {
    color: white; }

.contactoWhastapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10%;
  height: 5%;
  position: relative;
  justify-content: flex-start; }
  .contactoWhastapp__logocontacto {
    height: 100%;
    width: 90%; }
  .contactoWhastapp__p {
    color: white;
    font-size: medium; }

.detallesProductos {
  background-image: url("../../images/detalles.png");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

.galeria {
  width: 100%;
  background-image: url("../../images/galeria.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

.titulo {
  color: black; }

.imagenes {
  display: flex;
  flex-wrap: wrap;
  gap: 1 rem;
  width: 80%;
  height: 80%; }

.imagen {
  width: 20%;
  margin-bottom: 0.5 em;
  position: relative;
  display: block;
  outline: 2px solid #fff;
  outline-offset: -10px;
  padding: 5px; }

.estampa {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.contenedor {
  background-color: #941414;
  display: flex;
  flex-direction: row;
  width: 20%;
  align-items: center;
  margin: 5px;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.seleccion {
  width: 50%; }

.column {
  flex: 20%;
  padding: 5px; }

.column img {
  margin-top: 5px; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.grilla {
  display: grid;
  width: 80%;
  height: 75%;
  justify-items: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "item item item item item" "item item item item item"; }

.caja {
  justify-self: stretch; }

.item {
  width: 95%; }

.caja:hover {
  transform: scale(1.5, 1.5);
  z-index: 100; }

.detallesRemera {
  width: 60%;
  justify-items: center;
  margin: 25px; }

.titulos {
  display: flex;
  flex-direction: column;
  justify-self: stretch;
  justify-content: center;
  text-align: center;
  background-color: #c42929; }

.detalles {
  display: flex;
  flex-direction: column;
  justify-self: stretch;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin: 5px;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.titulo_item {
  text-align: center;
  font-size: medium; }

.nosotros {
  background-image: url("../../images/conocenos.png");
  background-size: 100%;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .nosotros__titulo {
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: "Allerta Stencil", sans-serif; }

.video {
  width: 70%; }

.marca {
  background-image: url("../../images/conocenosmarca.png");
  background-size: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-right: 10%;
  width: 100%;
  height: 600px;
  border-left: solid 10px; }

.logoMarca {
  height: 20%;
  width: 20%;
  margin-right: 0%; }

.p__nosotros {
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  width: 45%;
  height: 40%;
  padding-left: 0%;
  color: black;
  font-family: 'Architects Daughter', cursive;
  font-weight: 200;
  font-size: large; }

.footer {
  display: flex;
  background-image: linear-gradient(to left, crimson, black);
  height: 15%;
  width: 100%; }
  .footer__contenedor {
    display: grid;
    width: 100%;
    height: 75%;
    justify-items: center;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 100%;
    grid-template-areas: "seguinos pago nav"; }
    .footer__contenedor__seguinos {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%; }
      .footer__contenedor__seguinos__p {
        text-align: left;
        font-size: 100%;
        width: 100%;
        color: white; }
      .footer__contenedor__seguinos__logoinstagram {
        height: 60%;
        width: 6%;
        position: relative;
        left: 15%;
        top: 15%; }
      .footer__contenedor__seguinos__logofacebook {
        height: 60%;
        width: 6%;
        left: 15%;
        position: relative;
        top: 15%; }
    .footer__contenedor__pago {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%; }
      .footer__contenedor__pago__mediodepago {
        color: white;
        font: 0.2 em;
        list-style: none;
        text-decoration: none; }
    .footer__contenedor__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      height: 30%; }
      .footer__contenedor__nav nav ul li a {
        width: 80%;
        height: 40%;
        color: white; }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%; }
  .slider {
    display: flex;
    align-items: center;
    top: 7%;
    width: 30%;
    height: 30%; }
  .itemMuestra {
    height: 60%;
    width: 60%; }
  .navbar {
    width: 100%; }
  .collapse {
    justify-content: right; }
  a {
    color: white;
    list-style: none;
    text-decoration: none; }
  .pedido {
    color: white;
    list-style: none;
    text-decoration: none; }
  ul {
    list-style: none;
    font-size: 0; }
  li {
    display: inline-block;
    font-size: 14px;
    list-style: none;
    text-align: inline;
    text-decoration: none; }
  li a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-left: 10px;
    margin-right: 50px;
    color: black; }
  li a:visited {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-left: 0px;
    margin-right: 50px;
    color: white; }
  ul ul {
    position: absolute;
    display: none; }
  ul ul li {
    display: block; }
  ul li:hover ul {
    display: block;
    padding-right: 15%;
    background-color: #a70808; }
  .sublista {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white; }
  .sublista:visited {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-left: 10px;
    margin-right: 50px;
    color: white; }
  footer {
    background-image: linear-gradient(to left, crimson, black);
    width: 100%; }
  p {
    height: 30%;
    width: 100%;
    text-align: left;
    padding-left: 5%;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font: size 0.9em; }
  h1 {
    color: black;
    text-align: center;
    font-size: xx-large;
    font-family: "Allerta Stencil"; }
  .h2 {
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: 'Lobster', cursive; }
  .detallesCarosuel {
    color: white;
    text-align: center;
    font-size: xx-small;
    font-family: 'Courier New', Courier, monospace; }
  h5 {
    color: black;
    text-align: center;
    font-size: medium;
    font-family: "Allerta Stencil"; }
  .display-4 {
    padding-top: 10%; }
  h4 {
    color: white;
    text-align: center;
    font-size: xx-large, sans-serif;
    font-family: "Verdana"; }
  .display-5 {
    color: white;
    text-align: center; }
  .d-block {
    height: 100%;
    width: 100%; }
  #label {
    color: white; }
  #tituloseccion2 {
    width: 100%;
    height: 5%;
    text-align: left;
    padding-left: 5%;
    padding-top: 10%;
    color: black; }
  #tituloconsulta {
    color: white;
    padding-top: 6%; }
  #scroll {
    position: relative;
    top: 30%; }
  .btnFormulario {
    color: white;
    background-color: crimson;
    border-color: crimson;
    width: 10%;
    height: 100%;
    font-size: medium;
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  .btnFormulario:hover {
    animation: heartBeat;
    animation-duration: 3s; }
  .enviar {
    color: white;
    background-color: crimson;
    border-color: crimson;
    width: 6%;
    height: 4%;
    font-size: medium;
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  .hacerPedido {
    color: white;
    background-color: crimson;
    border-color: crimson;
    width: 10%;
    height: 5%;
    font-size: x-small;
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  .hacerPedido:hover {
    animation: heartBeat;
    animation-duration: 5s; }
  .verProductos {
    color: white;
    background-color: crimson;
    border-color: crimson;
    width: 50%;
    height: 5%;
    font-size: small;
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  .verProductos:hover {
    animation: heartBeat;
    animation-duration: 5s; }
  .seccion, .inicio, .estampasRemeras, .infoPago, .detallesProductos {
    width: 100%;
    height: 600px; }
  .misproductos {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/astronautainsiders.png");
    background-size: cover; }
  video {
    width: 100%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -10; }
  @keyframes aparecer {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  #tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-color: black;
    border-left: solid 10px;
    border-right: solid 10px; }
  #datos-nombre {
    text-align: center;
    width: 74%;
    margin-left: auto;
    margin-right: auto; }
  #datos-localidad {
    text-align: center;
    width: 76%;
    margin-left: auto;
    margin-right: auto; }
  #datos-numero {
    width: 74%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  #label {
    display: inline-flex;
    color: white; }
  #label-numero {
    color: white;
    display: inline-flex; }
  #label-localidad {
    display: inline-flex;
    color: white; }
  #label-nombre {
    display: inline-flex;
    color: white; }
  .form-completar {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 95%;
    height: 70%; }
  .botones {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%; }
  .btnFormulario {
    color: white;
    background-color: crimson;
    border-color: crimson;
    width: 30%;
    height: 50%;
    font-size: medium;
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 2px; }
  textarea {
    height: 50%;
    width: 75%; }
  .inicio {
    width: 100%;
    height: 600px;
    background-image: url("../../images/fondoPortadaInicio.png");
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .titulo1 {
    color: black;
    text-align: center;
    font-family: "Allerta Stencil", sans-serif;
    padding-top: 15%; }
  .titulo2 {
    color: black;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  .btn {
    width: 20%;
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  .btn:hover {
    animation: heartBeat;
    animation-duration: 5s; }
  .bienvenida {
    background-image: url("../../images/bienvenidosnosotros.png");
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    border-color: black;
    border-left: solid 10px; }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  .bienvenida_P {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: large; }
  .col {
    background-color: #0a0a0a;
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  .row {
    width: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  p {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: large; }
  .letraEstampas {
    color: white;
    text-align: center;
    font-size: small;
    font-family: 'Lobster', cursive; }
  .muestraRemera {
    width: 60%;
    heigth: 40%; }
  .img-fluid {
    width: 50%;
    height: 50%; }
  .estampasRemeras {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/paredinsiders.png");
    background-size: cover; }
  .estampas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%; }
  .slide {
    width: 100%; }
  .productosVenta {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    flex-wrap: wrap;
    gap: 1 rem;
    width: 100%;
    text-align: center; }
    .productosVenta__p {
      color: white;
      font-size: small; }
    .productosVenta__tituloproductos {
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .productosVenta__precio {
      color: #c50a0a;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .producto {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5 em;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  .productoMuestra {
    height: 80%;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  .productoMuestra:hover {
    transform: scale(1.5, 1.5);
    z-index: 100; }
  .botonProducto {
    color: white;
    background-color: crimson;
    border-color: crimson;
    width: 50%;
    height: 15%;
    font-size: x-small;
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  .botonProducto:hover {
    animation: heartBeat;
    animation-duration: 3s; }
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-image: url("../../images/contacto.png");
    background-size: cover;
    height: 600px; }
    .contacto__titulo {
      color: white; }
  .contactoWhastapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    position: relative; }
    .contactoWhastapp__logocontacto {
      height: 54%;
      width: 10%; }
    .contactoWhastapp__p {
      color: white;
      font-size: small;
      width: 28%;
      height: 10%; }
  .detallesProductos {
    width: 100%;
    height: 600px;
    background-image: url("../../images/detalles.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .galeria {
    width: 100%;
    background-image: url("../../images/galeria.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .titulo {
    color: black; }
  .imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 1 rem;
    width: 100%; }
  .imagen {
    width: 20%;
    margin-bottom: 0.5 em;
    position: relative;
    display: block;
    outline: 2px solid #fff;
    outline-offset: -10px;
    padding: 5px; }
  .estampa {
    display: flex;
    width: 100%;
    height: 40%;
    align-content: center;
    justify-self: stretch; }
  .contenedor {
    background-color: #941414;
    display: block;
    align-content: center;
    width: 100%; }
  .seleccion {
    width: 100%; }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .grilla {
    display: grid;
    width: 80%;
    height: 75%;
    justify-items: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "item item item item item" "item item item item item"; }
  .caja {
    justify-self: stretch; }
  .item {
    width: 95%; }
  .caja:hover {
    transform: scale(1.5, 1.5);
    z-index: 100; }
  .titulos {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    justify-content: center;
    text-align: center;
    background-color: #c42929; }
  .detalles {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: stretch;
    justify-content: center;
    text-align: center; }
  .detalles:hover {
    transform: scale(1.5, 1.5);
    z-index: 100; }
  .titulo_item {
    text-align: center;
    font-size: medium; }
  .nosotros {
    background-image: url("../../images/conocenos.png");
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .nosotros__titulo {
      color: white;
      text-align: center;
      font-size: xx-large;
      font-family: "Allerta Stencil", sans-serif; }
  .video {
    width: 70%; }
  .marca {
    background-image: url("../../images/conocenosmarca.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 10%;
    width: 100%;
    height: 600px;
    border-left: solid 10px; }
  .logoMarca {
    height: 20%;
    width: 20%;
    margin-right: 0%; }
  .p__nosotros {
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 40%;
    color: black;
    font-family: 'Architects Daughter', cursive;
    font-weight: 200;
    font-size: medium; }
  .footer {
    display: flex;
    background-image: linear-gradient(to left, crimson, black);
    height: 15%;
    width: 100%; }
    .footer__contenedor {
      display: grid;
      width: 100%;
      height: 75%;
      justify-items: center;
      grid-template-columns: 30% 30% 40%;
      grid-template-rows: 100%;
      grid-template-areas: "seguinos pago nav"; }
      .footer__contenedor__seguinos {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%; }
        .footer__contenedor__seguinos__p {
          text-align: left;
          font-size: 100%;
          width: 100%;
          color: white; }
        .footer__contenedor__seguinos__logoinstagram {
          height: 20%;
          width: 20%;
          position: relative;
          left: 15%;
          top: 15%; }
        .footer__contenedor__seguinos__logofacebook {
          height: 20%;
          width: 20%;
          left: 20%;
          position: relative;
          top: 15%; }
      .footer__contenedor__pago {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%; }
        .footer__contenedor__pago__mediodepago {
          color: white;
          font: 0.2 em;
          list-style: none;
          text-decoration: none; }
      .footer__contenedor__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 30%; }
        .footer__contenedor__nav nav ul li a {
          width: 80%;
          height: 40%;
          color: white; } }
