body {
  display: flex;
  flex-direction: column; }

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%; }

.slider {
  background-color: #0bb819;
  display: flex;
  align-items: center;
  top: 7%;
  width: 40%;
  height: 40%; }

.itemMuestra {
  background-color: darkgoldenrod;
  height: 60%;
  width: 60%; }

.navbar {
  width: 100%; }

.collapse {
  justify-content: right; }

a {
  color: white;
  list-style: none;
  text-decoration: none; }

.pedido {
  color: white;
  list-style: none;
  text-decoration: none; }

ul {
  list-style: none;
  font-size: 0; }

li {
  display: inline-block;
  font-size: 14px;
  list-style: none;
  text-align: inline;
  text-decoration: none; }

li a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 10px;
  margin-right: 50px;
  color: black; }

li a:visited {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 10px;
  margin-right: 50px;
  color: #7e7575; }

ul ul {
  position: absolute;
  display: none; }

ul ul li {
  display: block; }

ul li:hover ul {
  display: block;
  padding-left: 0%;
  background-color: #970e0e; }

.sublista {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white; }

.sublista:visited {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 10px;
  margin-right: 50px;
  color: white; }

footer {
  background-image: linear-gradient(to left, crimson, black);
  width: 100%; }

p {
  height: 30%;
  width: 100%;
  text-align: left;
  padding-left: 5%;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font: size 0.9em; }

h1 {
  color: black;
  text-align: center;
  font-size: xx-large;
  font-family: "Allerta Stencil"; }

.h2 {
  color: black;
  text-align: center;
  font-size: xx-large;
  font-family: Verdana; }

h5 {
  color: black;
  text-align: center;
  font-size: medium;
  font-family: "Allerta Stencil"; }

.display-4 {
  padding-top: 10%; }

h4 {
  color: white;
  text-align: center;
  font-size: xx-large, sans-serif;
  font-family: "Verdana"; }

.display-5 {
  color: white;
  text-align: center; }

.d-block {
  background-color: darkgoldenrod;
  height: 100%;
  width: 100%; }

#label {
  color: white; }

#tituloseccion2 {
  width: 100%;
  height: 5%;
  text-align: left;
  padding-left: 5%;
  padding-top: 10%;
  color: black; }

#tituloconsulta {
  color: white;
  padding-top: 6%; }

#scroll {
  position: relative;
  top: 30%; }

#seleccion {
  width: 40%; }

.btnFormulario {
  color: white;
  background-color: crimson;
  border-color: crimson;
  width: 10%;
  height: 100%;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.btnFormulario:hover {
  animation: heartBeat;
  animation-duration: 3s; }

.botonProducto {
  color: white;
  background-color: crimson;
  border-color: crimson;
  width: 40%;
  height: 6%;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.botonProducto:hover {
  animation: heartBeat;
  animation-duration: 3s; }

.enviar {
  color: white;
  background-color: crimson;
  border-color: crimson;
  width: 6%;
  height: 4%;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.hacerPedido {
  color: white;
  background-color: crimson;
  border-color: crimson;
  width: 10%;
  height: 5%;
  margin-bottom: 0 px;
  border-radius: 45px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.hacerPedido:hover {
  animation: heartBeat;
  animation-duration: 5s; }

.seccion, .misproductos, .inicio, .bienvenida, .estampasRemeras, .galeria {
  width: 100%;
  height: 600px; }

.misproductos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/fondoinsiders.svg"); }

video {
  width: 90%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: -10; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#tabla {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  border-color: black;
  border-left: solid 10px;
  border-right: solid 10px; }

#datos-nombre {
  text-align: center;
  width: 74%;
  margin-left: auto;
  margin-right: auto; }

#datos-localidad {
  text-align: center;
  width: 76%;
  margin-left: auto;
  margin-right: auto; }

#datos-numero {
  width: 74%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

#label {
  display: inline-flex;
  color: white; }

#label-numero {
  color: white;
  display: inline-flex; }

#label-localidad {
  display: inline-flex;
  color: white; }

#label-nombre {
  display: inline-flex;
  color: white; }

#form-completar {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 30%;
  height: 70%; }

.botones {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%; }
  .botones__btnFormulario {
    color: white;
    background-color: crimson;
    border-color: crimson;
    width: 10%;
    height: 70%;
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }

textarea {
  height: 50%;
  width: 75%; }

.inicio {
  background-image: url("../../images/fondo1.svg");
  background-size: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  .inicio__titulo1 {
    color: white;
    text-align: center;
    font-family: "Allerta Stencil", sans-serif;
    padding-top: 15%; }
  .inicio__titulo2 {
    color: white;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.bienvenida {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-left: solid 10px; }

.container {
  background-color: aqua;
  flex-direction: column;
  display: flex;
  width: 45%;
  text-align: center;
  justify-content: center;
  align-items: center; }

.row {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center; }

p {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 80%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large; }

.muestraRemera {
  width: 60%;
  heigth: 40%; }

.img-fluid {
  width: 50%;
  height: 50%; }

.estampasRemeras {
  display: flex;
  justify-content: center;
  background-image: url("../../images/fondoscarfaces.svg"); }

.estampas {
  background-color: #008327;
  width: 60%;
  height: 60%; }

.estampa {
  background-color: deeppink;
  width: 70%; }

.productosVenta {
  width: 25%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .productosVenta__p {
    text-align: center;
    color: white;
    height: 8%; }
  .productosVenta__tituloproductos {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .productosVenta__productoMuestra {
    width: 60%;
    height: 60%; }
  .productosVenta__botonProducto {
    color: white;
    background-color: crimson;
    border-color: crimson;
    width: 40%;
    height: 6%;
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  .productosVenta__botonProducto:hover {
    animation: heartBeat;
    animation-duration: 3s; }
  .productosVenta__precio {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-image: url("../../images/fondoinsiders.svg");
  height: 600px; }
  .contacto__titulo {
    color: white; }

.contactoWhastapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10%;
  height: 5%;
  position: relative;
  justify-content: flex-start; }
  .contactoWhastapp__logocontacto {
    height: 100%;
    width: 90%; }
  .contactoWhastapp__p {
    color: white;
    font-size: medium; }

.galeria {
  background-image: url("../../images/fondoinsiders.svg");
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

.titulo {
  color: white; }

.grilla {
  display: grid;
  width: 80%;
  height: 75%;
  justify-items: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "item item item item item" "item item item item item"; }

.caja {
  justify-self: stretch; }

.item {
  width: 98%; }

.caja:hover {
  transform: scale(1.5, 1.5);
  z-index: 100; }

.detallesRemeras {
  display: grid;
  width: 80%;
  height: 100%;
  justify-items: center;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 16% 21% 21% 21% 21%;
  grid-template-areas: "titulo    titulo    titulo   titulo" "detalles detalles detalles detalles" "detalles detalles detalles detalles" "detalles detalles detalles detalles" "detalles detalles detalles detalles"; }

.titulos {
  display: flex;
  flex-direction: column;
  justify-self: stretch;
  justify-content: center;
  text-align: center;
  background-color: #c42929; }

.detalles {
  display: flex;
  flex-direction: column;
  justify-self: stretch;
  justify-content: center;
  text-align: center;
  background-color: white; }

.nosotros {
  background-image: url("../../images/fondoinsiders.svg");
  height: 600px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  .nosotros__titulo {
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: "Allerta Stencil", sans-serif; }

.marca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  border-left: solid 10px; }
  .marca__logomarca {
    height: 20%;
    width: 20%;
    margin-right: 0%; }
  .marca__p {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 40%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: xx-large; }

.footer {
  display: flex;
  background-image: linear-gradient(to left, crimson, black);
  height: 15%;
  width: 100%; }
  .footer__contenedor {
    display: grid;
    width: 100%;
    height: 75%;
    justify-items: center;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 100%;
    grid-template-areas: "seguinos pago nav"; }
    .footer__contenedor__seguinos {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%; }
      .footer__contenedor__seguinos__p {
        font-size: 100%;
        width: 100%;
        color: white; }
      .footer__contenedor__seguinos__logoinstagram {
        height: 50%;
        width: 10%;
        position: relative;
        left: 30%;
        bottom: 15%; }
      .footer__contenedor__seguinos__logofacebook {
        height: 50%;
        width: 10%;
        left: 30%;
        bottom: 15%;
        position: relative; }
    .footer__contenedor__pago {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%; }
      .footer__contenedor__pago__mediodepago {
        color: white;
        font: 0.2 em;
        list-style: none;
        text-decoration: none; }
    .footer__contenedor__nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      height: 30%; }
      .footer__contenedor__nav nav ul li a {
        width: 80%;
        height: 40%;
        color: white; }

/*tablet*/
@media only screen and (max-width: 768px) {
  .inicio {
    display: flex;
    flex-direction: column;
    background-image: url("../../images/fondoinsiders.svg");
    text-align: center;
    justify-content: center; }
    .inicio__titulo1 {
      color: white;
      text-align: center;
      font-family: "Allerta Stencil", sans-serif;
      padding-top: 15%; }
    .inicio__titulo2 {
      color: white;
      text-align: center;
      font-size: x-large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; } }

.inicio__btn {
  width: 20%;
  margin-left: auto;
  margin-right: auto; }

.marca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  border-left: solid 10px; }
  .marca__logomarca {
    height: 20%;
    width: 20%;
    margin-right: 0%; }
  .marca__p {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 40%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: medium; }

.misproductos {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/fondoinsiders.svg"); }

.productosVenta {
  width: 33.33%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .productosVenta__p {
    text-align: center;
    color: white;
    height: 8%; }
  .productosVenta__tituloproductos {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .productosVenta__productoMuestra {
    width: 60%;
    height: 60%; }
  .productosVenta__botonProducto {
    color: white;
    background-color: crimson;
    border-color: crimson;
    width: 50%;
    height: 20%;
    margin-bottom: 0 px;
    border-radius: 45px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  .productosVenta__botonProducto:hover {
    animation: heartBeat;
    animation-duration: 3s; }
  .productosVenta__precio {
    color: white;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

#seleccion {
  width: 50%; }

.detallesRemeras {
  display: grid;
  width: 98%;
  height: 40%;
  justify-items: center;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 16% 21% 21% 21% 21%;
  grid-template-areas: "titulo    titulo    titulo   titulo" "detalles detalles detalles detalles" "detalles detalles detalles detalles" "detalles detalles detalles detalles" "detalles detalles detalles detalles";
  background-color: #30f050; }
  .detallesRemeras__titulos {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    justify-content: center;
    text-align: center;
    background-color: #c42929; }
  .detallesRemeras__detalles {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    justify-content: center;
    text-align: center;
    background-color: white; }

h5 {
  color: black;
  text-align: center;
  font-size: xx-small;
  font-family: "Allerta Stencil"; }

.galeria {
  background-image: url("../../images/fondoinsiders.svg");
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

.titulo {
  color: white; }

.grilla {
  display: grid;
  width: 80%;
  height: 75%;
  justify-items: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "item item item item item" "item item item item item"; }

.caja {
  justify-self: stretch; }

.item {
  width: 98%; }

.caja:hover {
  transform: scale(1.5, 1.5);
  z-index: 100; }

/*celular*/
@media (max-width: 320px) {
  footer {
    display: flex;
    background-image: linear-gradient(to left, crimson, black);
    height: 20%;
    width: 100%; }
  #logofacebook {
    height: 35%;
    width: 35%; }
  #logoinstagram {
    height: 35%;
    width: 35%; }
  .navPie {
    display: flex;
    width: 100%;
    height: 100%; }
  .navPie nav ul li {
    width: 100%;
    height: 100%; }
  .pie {
    display: grid;
    width: 100%;
    height: 75%;
    justify-items: center;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
    grid-template-areas: "seguinos pago navPie"; }
  .seguinos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%; }
  .seguinos p {
    font-size: 70%;
    width: 100%;
    color: white; }
  .pago {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%; }
  .pago a {
    font-size: 100%; }
  .marca {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    border-left: solid 10px; }
    .marca__logomarca {
      height: 20%;
      width: 20%;
      margin-right: 0%; }
    .marca__p {
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
      width: 40%;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: small; }
  .productosVenta {
    width: 33.33%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .productosVenta__p {
      text-align: center;
      color: white;
      height: 8%; }
    .productosVenta__tituloproductos {
      text-align: center;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .productosVenta__productoMuestra {
      width: 60%;
      height: 60%; }
    .productosVenta__botonProducto {
      color: white;
      background-color: crimson;
      border-color: crimson;
      width: 90%;
      height: 30%;
      margin-bottom: 0 px;
      border-radius: 45px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px; }
    .productosVenta__botonProducto:hover {
      animation: heartBeat;
      animation-duration: 3s; }
    .productosVenta__precio {
      color: white;
      text-align: center;
      font-size: x-large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  #seleccion {
    width: 80%; }
  #form-completar {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 70%; }
  .botones {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%; }
    .botones__btnFormulario {
      color: white;
      background-color: crimson;
      border-color: crimson;
      width: 90%;
      height: 70%;
      margin-bottom: 0 px;
      border-radius: 45px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px; }
  .detallesRemeras {
    display: grid;
    width: 100%;
    height: 90%;
    justify-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 16% 21% 21% 21% 21%;
    grid-template-areas: "titulo    titulo    titulo   titulo" "detalles detalles detalles detalles" "detalles detalles detalles detalles" "detalles detalles detalles detalles" "detalles detalles detalles detalles"; }
  .titulos {
    display: flex;
    flex-wrap: wrap;
    justify-self: stretch;
    justify-content: center;
    text-align: center;
    background-color: #c42929; }
  .detalles {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    justify-content: center;
    text-align: center;
    background-color: white; }
  h5 {
    font-size: xx-small; }
  .galeria {
    background-image: url("../../images/fondoinsiders.svg");
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center; }
  .titulo {
    color: white; }
  .grilla {
    display: grid;
    width: 90%;
    height: 20%;
    justify-items: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50% 50% 50% 50%;
    grid-template-areas: "item item item item item" "item item item item item"; }
  .inicio {
    display: flex;
    flex-direction: column;
    background-image: url("../../images/fondoinsiders.svg");
    text-align: center;
    justify-content: center; }
    .inicio__titulo1 {
      color: white;
      text-align: center;
      font-family: "Allerta Stencil", sans-serif;
      padding-top: 15%; }
    .inicio__titulo2 {
      color: white;
      text-align: center;
      font-size: x-large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    width: 100%;
    height: 20%; }
  .inicio__btn {
    width: 50%;
    margin-left: auto;
    margin-right: auto; } }
